@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body, html {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
}


h1 {
    font-weight: 800;
    font-size: 35px;
    opacity: 80%;
}

footer, h2, p {
    text-align: center;
    font-weight: bold;
}

/* nav-bar */

nav {
    height: 100px;
    background-color: #000000;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .logo {
    display: block;
    width: 100px;
    height: 250px;
    position: absolute; top: 50%; left: 0;
    margin-top: -50px;
    margin-left: 30px;
    background: url(img/white-imperial-logo-on-black.jpg) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
    color: #FFFFFF;
}

nav ul {
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

nav ul li a {
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    padding: 60px 20px;
    line-height: 5px;
}

.name {
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 45px 149px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* hero-banner */

.heading {
    position: relative;
    bottom: 185px;
    right: 270px;
    text-align: center;
    padding: 220px 0px;
}

.hero-banner {
    color: #FFFFFF;
    position: relative;
}

.imperial-starfleet {
    background: url(img/star-destroyers.jpg) no-repeat 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
}

button.new-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(228, 231, 233, 0.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    top: 190px;

}

button.new-button:hover {
    background-color: grey;
    opacity: 85%;
}

/* call to action banner */

.more-info {
    text-align: center;
}

button.cta {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 2.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    top: 20px;
}

button.cta:hover {
    background-color: white ;
    opacity: 85%;
}

.darthsidious {
    background: url(img/darthsidious.jpg) no-repeat 0 0;
    height: 425px;
    width: 20%;
    position: absolute;
    background-size: 100%;
    right: 215px;
    border: none;
    top: 1045px;
}

.darthvader {
    background: url(img/darthvader.jpg) no-repeat 0 0;
    height: 425px;
    width: 15%;
    position: absolute;
    background-size: 100%;
    left: 215px;
    border: none;
    top: 1060px;

}

.fear-bold {
    font-weight: bold;
    font-size: 20px;
}

.imperial-background {
    background: url(img/imperial-seal-background.jpg) no-repeat 0 0;
    width: 24%;
    height: 425px;
    position: absolute;
    background-size: 100%;
    opacity: 20%;
    left: 38%;
    top: 1060px;
}

.sep {
    width: 470px;
    height: 10px;
    background-color: #111111;
    margin: 70px auto;
}

.right-cta {
    position: relative;
    
}

/* footer */

/* .imperialpilot {
    background: url(img/TIE_Pilot.jpg) no-repeat 0 0;
    height: 75%;
    width: 14%;
    position: absolute;
    background-size: 100%;
    left: 665px;
    border-radius: 195px;
    border: none;
    top: 1060px;
} */

